<ul>
    <li><a href="https://www.charlotte.edu">UNCC Home Page</a></li>
    <li><a href="https://github.com/FezzyBug">GitHub Account Repo</a></li>
    <li><a href="https://github.com/FezzyBug/FezzyBug.github.io">GitHub.io Page</a></li>
    <li><a href="https://www.freecodecamp.org/zef01">FreeCodeCamp Profile</a></li>
    <li><a href="https://www.codecademy.com/profiles/zef01">Codecademy Profile</a></li>
    <li><a href="https://www.linkedin.com/in/zef-vargas/">LinkedIn Profile</a></li>
</ul>
<p class="design"><a href="zefvargasdesigns.co/index.html">Designed by Zef Vargas's Designs &copy; 2024</a></p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>