<h1>Zef Vargas Dungeon Gremlins || ITIS 3135</h1>
<nav>
    <ul>
        <li><a href="./">Home</a></li>🎃
        <li><a href="./introduction.html">Introduction</a></li>☠️
        <li><a href="./contract.html">Contract</a></li>🕷
        <li><a href="./about.html">About</a></li>🕸️
        <li><a href="./cRapPyStuff/YIPPEE YARR💀.htm">Crappy Webpage</a></li>💀
        <li><a href="./website_evaluations.html">Website Evaluations</a></li>👻
        <li><a href="./tables.html">HTML Tables</a></li>🧟
        <li><a href="./forms.html">Gremlin Form</a></li>👹
        <li><a href="./firstscripts.html">Scripts</a></li>👺
        <li><a href="./byo_intro.html">Byo Form</a></li>👁️
        <li><a href="./hobby/index.html">Hobby</a></li>🐦‍⬛
        <li><a href="./drawing.html">Drawing</a></li>
    </ul>
</nav>
